.container__quiz {
    width: 80%;
    margin: auto;
    margin-top: 20px;   
}

.quiz_logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.quiz_logo > h3 {
    margin-top: 20px;
}